{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to your tasks!</h1>

  {% if taskListData.items.length > 0 %}
    {{ govukTaskList(taskListData) }}
  {% endif %}
{% endblock %}
